.button {
    height: 48px;
    max-height: 44px;
    min-width: 48px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 24px; //rounded 24, edged 0, pill 4
    padding-left: 20px;
    padding-right: 20px;
    gap: 8px;


    &--solid {
        border: none;
        color: var(--color-m-dynamic-90);
        background-color: var(--color-m-dynamic-50);
        transition: all 600ms ease;

        &:hover {
            border: none;
            color: var(--color-m-dynamic-99);
            background-color: var(--color-m-dynamic-40);
        }

        &:active,
        &--active {
            border: none;
            color: var(--color-m-dynamic-99);
            background-color: var(--color-m-dynamic-30);
        }

        &:disabled,
        &--disabled,
        &[aria-disabled="true"] {
            opacity: 0.3;
            border: none;
            cursor: not-allowed;
            color: var(--color-m-dynamic-99);
            background-color: var(--color-m-dynamic-50);
            
            &:hover {
                color: var(--color-m-dynamic-99);
                background-color: var(--color-m-dynamic-40);
            }
            
            &:active {
                color: var(--color-m-dynamic-99);
                background-color: var(--color-m-dynamic-30);
            }

        }

        .button__label {
            font-size: 16px;
            color: var(--color-m-dynamic-95         );
        }

        .button__icon {
            color: var(--color-m-dynamic-99);
            width: 24px;
            height: 24px;
        }

    }


    &--tint {
        border: none;
        color: var(--color-m-dynamic-1);
        background-color: var(--color-m-dynamic-80);
        transition: all 200ms ease;

        &:hover {
            border: none;
            color: var(--color-m-dynamic-99);
            background-color: var(--color-m-dynamic-80);
        }

        &:active,
        &--active {
            border: none;
            color: var(--color-m-dynamic-99);
            background-color: var(--color-m-dynamic-70);
        }

        &:disabled,
        &--disabled,
        &[aria-disabled="true"] {
            border: none;
            color: var(--color-m-dynamic-99);
            background-color: var(--color-m-dynamic-90);
            opacity: 0.4;
            cursor: not-allowed;
        }

        .button__label {
            font-size: 16px;
            color: var(--color-m-dynamic-1);
        }

        .button__icon {
            width: 24px;
            height: 24px;
        }

    }

    &--outline {
        color: var(--color-m-dynamic-10);
        border: 1px solid var(--color-m-dynamic-40);
        background-color: var(--color-n-transparent);
        transition: all 600ms ease;

        &:hover {
            color: var(--color-m-dynamic-10);
            border: 1px solid var(--color-m-dynamic-30);
            background-color: var(--color-m-dynamic-90);
        }

        &:active,
        &--active {
            color: var(--color-m-dynamic-10);
            border: 1px solid var(--color-m-dynamic-20);
            background-color: var(--color-m-dynamic-80);
        }

        &:disabled,
        &--disabled,
        &[aria-disabled="true"] {
            color: var(--color-m-dynamic-10);
            border: 1px solid var(--color-m-dynamic-40);
            background-color: var(--color-n-transparent);
            opacity: 0.4;
            cursor: not-allowed;
        }

        .button__label {
            font-size: 16px;
            color: var(--color-m-dynamic-99);
        }

        .button__icon {
            width: 24px;
            height: 24px;
        }

    }

    &--plain {
        color: var(--color-m-dynamic-10);
        border: none;
        background-color: var(--color-n-transparent);
        transition: all 600ms ease;

        &:hover {
            color: var(--color-m-dynamic-10);
            border: none;
            background-color: var(--color-m-dynamic-90);
        }

        &:active,
        &--active {
            color: var(--color-m-dynamic-10);
            border: none;
            background-color: var(--color-m-dynamic-80);
        }

        &:disabled,
        &--disabled,
        &[aria-disabled="true"] {
            color: var(--color-m-dynamic-10);
            border: none;
            background-color: var(--color-n-transparent);
            opacity: 0.4;
            cursor: not-allowed;
        }

        .button__label {
            font-size: 16px;
            color: var(--color-m-dynamic-99);
        }

        .button__icon {
            width: 24px;
            height: 24px;
        }

    }

}