// Importing the normalizer (CSS Reset Code).
@import url(https://neupgroup.com/assets/designing/guidelines/normalizer.min.css);

// Importing the color for the site (Dynamic Color Code).   
@import url(colors.css);

// Importing of other more variables used in the site.
@import url(variables.css);

// Importing of buttons to be used in the site.
@forward "components/button";











// Code for the content starts here.
.content {
    max-width: var(--body-content-max-width);
    margin: 0 auto;
}





// Code for the header bar starts here.
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    max-height: 64px;
    overflow: hidden;
    padding: 0 var(--header-gap);
    box-shadow: 0 4px 8px var(--color-m-dynamic-90);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--body-content-max-width);
    width: 100%;
    column-gap: var(--header-gap);
    align-items: center;
    align-content: center;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__menu {
    display: flex;
    gap: var(--header-gap);
    flex-direction: row;
}

.header__menu-item {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

    &--active {
        background-color: var(--color-m-dynamic-100);
    }

    &--inactive {
        opacity: 0.5;

        &:hover {
            background-color: none;
        }
    }

    &:hover {
        background-color: var(--color-m-dynamic-100);

    }


}

.header__login {
    color: var(--color-m-dynamic-0);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    border: 2px solid black;

    &:hover {
        background-color: #f2f2f2;
    }
}







.clock{
    background-color: var(--color-m-dynamic-95);
    height: 150vh
}


















// Clock styles
.clock {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.clock__time {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.clock__date {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}