@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

main {
  margin-top: 80px;
}

::-moz-selection {
  background-color: hsl(200, 50%, 15%);
  color: hsl(200, 50%, 95%);
}

::selection {
  background-color: hsl(200, 50%, 15%);
  color: hsl(200, 50%, 95%);
}

:target {
  border: 2px solid hsl(200, 50%, 100%);
  padding: 2px;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
img {
  border-radius: 16px;
}

@media screen and (max-width: 1440px) {
  img {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  img {
    width: 100%;
  }
}
h1,
h2,
h3 {
  font-family: Poppins;
  line-height: 1.1;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1440px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
}
.button {
  height: 48px;
  max-height: 44px;
  min-width: 48px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 8px;
}
.button--solid {
  border: none;
  color: hsl(200, 50%, 99%);
  background-color: hsl(200, 50%, 50%);
  transition: all 400ms ease;
}
.button--solid:hover {
  border: none;
  color: hsl(200, 50%, 99%);
  background-color: hsl(200, 50%, 40%);
}
.button--solid:active, .button--solid--active {
  border: none;
  color: hsl(200, 50%, 99%);
  background-color: hsl(200, 50%, 30%);
}
.button--solid:disabled, .button--solid--disabled, .button--solid[aria-disabled=true] {
  opacity: 0.3;
  border: none;
  cursor: not-allowed;
  color: hsl(200, 50%, 99%);
  background-color: hsl(200, 50%, 50%);
}
.button--solid:disabled:hover, .button--solid--disabled:hover, .button--solid[aria-disabled=true]:hover {
  color: inherit;
  background-color: inherit;
}
.button--solid:disabled:active, .button--solid--disabled:active, .button--solid[aria-disabled=true]:active {
  color: inherit;
  background-color: inherit;
}
.button--tint {
  border: none;
  color: hsl(200, 50%, 1%);
  background-color: hsl(200, 50%, 80%);
  transition: all 400ms ease;
}
.button--tint:hover {
  border: none;
  color: hsl(200, 50%, 1%);
  background-color: hsl(200, 50%, 70%);
}
.button--tint:active, .button--tint--active {
  border: none;
  color: hsl(200, 50%, 1%);
  background-color: hsl(200, 50%, 60%);
}
.button--tint:disabled, .button--tint--disabled, .button--tint[aria-disabled=true] {
  border: none;
  color: hsl(200, 50%, 1%);
  background-color: hsl(200, 50%, 80%);
  opacity: 0.3;
  cursor: not-allowed;
}
.button--outline {
  color: hsl(200, 50%, 1%);
  border: 1px solid hsl(200, 50%, 40%);
  background-color: transparent;
  transition: all 400ms ease;
}
.button--outline:hover {
  color: hsl(200, 50%, 1%);
  border-color: hsl(200, 50%, 30%);
  background-color: hsl(200, 50%, 95%);
}
.button--outline:active, .button--outline--active {
  color: hsl(200, 50%, 1%);
  border-color: hsl(200, 50%, 20%);
  background-color: hsl(200, 50%, 90%);
}
.button--outline:disabled, .button--outline--disabled, .button--outline[aria-disabled=true] {
  color: hsl(200, 50%, 1%);
  border-color: hsl(200, 50%, 40%);
  background-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
}
.button--plain {
  color: hsl(200, 50%, 1%);
  border: none;
  background-color: transparent;
  transition: all 400ms ease;
}
.button--plain:hover {
  color: hsl(200, 50%, 1%);
  border: none;
  background-color: hsl(200, 50%, 95%);
}
.button--plain:active, .button--plain--active {
  color: hsl(200, 50%, 1%);
  border: none;
  background-color: hsl(200, 50%, 90%);
}
.button--plain:disabled, .button--plain--disabled, .button--plain[aria-disabled=true] {
  color: hsl(200, 50%, 1%);
  border: none;
  background-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
}

.button--profile {
  background-color: hsl(200, 50%, 100%);
  color: #000;
}

.badge--profile {
  background-color: hsl(200, 50%, 100%);
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.badge--profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

body {
  height: 100%;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 64px;
  box-shadow: 0 2px 4px hsl(200, 50%, 85%);
  background-color: hsl(200, 50%, 100%);
}

.topnav__aod .topnav__logo {
  font-size: 24px;
  font-weight: bold;
  color: hsl(200, 50%, 30%);
}

@media screen and (max-width: 1024px) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }
  .topnav__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .topnav__aod {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .topnav__menu-container {
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    border-top: 0px solid hsl(200, 50%, 50%);
    transition: all 1000ms ease-in-out;
    gap: 8px;
  }
  .topnav__menu-container .button {
    min-height: 48px;
    width: 100%;
    display: flex;
    border-radius: 16px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .topnav__menu-container.topnav__menu-container--open {
    border-top: 2px solid hsl(200, 50%, 50%);
    height: 100vh;
    padding: 16px 0;
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .topnav {
    overflow: hidden;
  }
  .topnav__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  .topnav__aod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topnav__aod .topnav__toggle-container {
    display: none;
  }
  .topnav__menu-container {
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
  }
}
.topnav__toggle-container .topnav__toggle-button > .toggle-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.topnav__toggle-container .topnav__toggle-button > .toggle-icon .toggle__bar {
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: hsl(200, 50%, 35%);
  border-radius: 8px;
  transition: transform 300ms ease-in-out;
}
.topnav__toggle-container .topnav__toggle-button > .toggle-icon .toggle__bar:first-child {
  top: 6px;
}
.topnav__toggle-container .topnav__toggle-button > .toggle-icon .toggle__bar:last-child {
  bottom: 6px;
}
.topnav__toggle-container .topnav__toggle-button > .toggle-icon--clicked .toggle__bar:first-child {
  top: calc(50% - 1.5px);
  transform: rotate(45deg);
}
.topnav__toggle-container .topnav__toggle-button > .toggle-icon--clicked .toggle__bar:last-child {
  bottom: calc(50% - 1.5px);
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */