<footer class="footer footer-section">
    <div class="container footer-container">
        <!-- Footer with navigating items but not AOD. -->
        <div class="footer-nav">
            <div class="footer-nav__social">
                <h4>Follow us:</h4>
                <a class="button button--plain" href="https://facebook.com/NeupGroup">
                    <img src="./logo/facebook.svg" alt="Facebook" class="button__icon">
                </a>
                <a class="button button--plain" href="https://youtube.com/NeupGroup">
                    <img src="./logo/youtube.svg" alt="Facebook" class="button__icon">
                </a>
                <a class="button button--plain" href="https://instagram.com/NeupGroup">
                    <img src="./logo/instagram.svg" alt="Instagram" class="button__icon">
                </a>
                <a class="button button--plain" href="https://twitter.com/NeupGroup">
                    <img src="./logo/twitter.svg" alt="Twitter" class="button__icon">
                </a>
                <a class="button button--plain" href="https://linkedin.com/NeupGroup">
                    <img src="./logo/linkedin.svg" alt="LinkedIn" class="button__icon">
                </a>
            </div>
            <div class="divider"></div>
            <div class="footer-nav__product">
                <div class="logo">NeupDesign</div>
                <div class="product-links">
                    <a class="button button--plain" href="https://facebook.com/NeupGroup">Gift Cards</a>
                    <a class="button button--plain" href="https://youtube.com/NeupGroup">Premium</a>
                    <a class="button button--plain" href="https://instagram.com/NeupGroup">Teams</a>
                    <a class="button button--plain" href="https://twitter.com/NeupGroup">Resources</a>
                    <a class="button button--plain" href="https://linkedin.com/NeupGroup">NeupGroup</a>
                </div>
            </div>
            <div class="divider"></div>
            <div class="footer-nav__company">
                <a class="button button--plain" href="https://facebook.com/NeupGroup">Help</a>
                <a class="button button--plain" href="https://youtube.com/NeupGroup">Privacy</a>
                <a class="button button--plain" href="https://instagram.com/NeupGroup">Terms</a>
                <a class="button button--plain" href="https://twitter.com/NeupGroup">Products</a>
                <a class="button button--plain" href="https://linkedin.com/NeupGroup">Language</a>
            </div>
        </div>

    </div>
    <!-- Footer with no navigating items but AOD.
    <div class="footer__appbar">
        <a href="#" class="button button--solid">
            <div class="button__label">Stopwatch</div>
        </a>
        <a href="#" class="button button--outline">
            <div class="button__label">Stopwatch</div>
        </a>
    </div> -->
</footer>