// Importing the variables and design foundation to the code.
@use "./../../base/_index" as base;


// Variable construction for the footer.
$footer-nav-title-color: base.$color_m-dynamic-5;
$footer-nav-title-background-color: base.$color_n-transparent;

$footer-nav-item-color: base.$color_m-dynamic-20;
$footer-nav-item-color--hover: base.$color_m-dynamic-10;
$footer-nav-item-color--active: base.$color_m-dynamic-0;
$footer-nav-item-background-color: base.$color_n-transparent;
$footer-nav-item-background-color--hover: base.$color_m-dynamic-90;
$footer-nav-item-background-color--active: base.$color_m-dynamic-80;

$footer-appbar-shadow: 0 -2px 4px base.$color_m-dynamic-85;
$footer-appbar-background-color: base.$color_m-dynamic-100;
$footer-universal-transition: 300ms ease all;


.footer {
	background-color: #fafafa;
	padding: 64px 0;

	.footer-nav {
		display: flex;
		flex-direction: column;

		.footer-nav__social {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 24px 0;

			.button__icon {
				border-radius: 0;
			}

			h4 {
				margin-right: 12px;
				font-size: 18px;
			}
		}

		.footer-nav__product {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			gap: 16px;
			padding: 16px 0;
			flex-wrap: wrap;

			@media screen and (max-width: 1024px) {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}

			.logo {
				font-size: 24px;
				margin-left: 12px;
				font-weight: bold;
				color: base.$color_m-dynamic-30;
			}

			.product-links {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 8px;
			}
		}

		.footer-nav__company {
			padding-top: 16px;
			display: flex;
			gap: 8px;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.footer__appbar {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: auto;
		min-height: 96px;
		box-shadow: $footer-appbar-shadow;
		background-color: $footer-appbar-background-color;

		@media screen and (min-width: 1024px) {
			display: none;
		}

		@media screen and (max-width: 1024px) {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}