<!-- This bottom navigation bar does not requires any kind of JS to run. -->
<div class="footer">
    <div class="container footer__container">
        <!-- The buttons must have icons. -->
        <a href="#" class="button button--solid">
            <div class="button__label">Stopwatch</div>
        </a>
        <a href="#" class="button button--outline">
            <div class="button__label">Stopwatch</div>
        </a>
    </div>
</div>
<!-- NOTE: The website can only have either Top or Bottom Navigation. -->