// Import the required files
@use "../base/_index" as base;
@use "../abstract/_index" as abstract;


// Universal property of "container" class
.container {
    margin: 0 auto;
    padding: 0 16px;
}


// Media queries start from here
@media screen and (max-width: 1440px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width:1440px) {
    .container {
        max-width: 1440px;
    }
}