// Importing of required SCSS
@use "../abstract/_index" as abstract;
@use "../theme/_index" as theme;

body {
  height: 100%;
}


// The universal SCSS
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 64px;
  box-shadow: 0 2px 4px theme.$color_m-dynamic-85;
}

.header__aod>.header__logo {
  font-size: 24px;
  font-weight: bold;
  color: theme.$color_m-dynamic-30;
}




// The SCSS for header on mobile devices
@media screen and (max-width: 1024px) {

  .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    background-color: theme.$color_m-dynamic-100;
  }

  .header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__aod {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu-container {
    height: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    opacity: 0;
    border-top: 0px solid black;
    transition: all 1000ms ease-in-out;
    gap: 8px;

    .button {
      min-height: 48px;
      width: 100%;
      display: flex;
      border-radius: 16px;
      flex-direction: row;
      justify-content: start;
    }
  }

  .header__menu-container.header__menu-container--open {
    border-top: 1px solid black;
    height: 100vh;
    padding: 16px 0;
    opacity: 1;
  }


}



// The SCSS for header on bigger devices 
@media screen and (min-width: 1024px) {

  .header {
    overflow: hidden;
  }

  .header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
  }

  .header__aod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header__toggle {
      display: none;
    }

  }

  .header__menu-container {
    display: flex;
    gap: abstract.$spacing-less-2;
    flex-direction: row;
    align-items: center;
  }
}