// Guidelines for the image elements:
//     > The image should be placed inside the container class.
//     > For the home page and other page like so, consider using SVG.
//     > .


// Importing of dependencies SCSS to be used.
@use "../base/_index" as base;


// The code for the main element.
img {
    border-radius: base.$radius;
}


// The code for smaller screens.
@media screen and (max-width: 1440px) {
    img {
        width: 100%;
    }
}


// The code for larger screens.
@media screen and (min-width: 1440px) {
    img {
        width: 100%
    }
}