// Importing of required SCSS
@use "../base/_index" as base;

body {
  height: 100%;
}


// The universal SCSS
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: auto;
  min-height: 64px;
  box-shadow: 0 2px 4px base.$color_m-dynamic-85;
  background-color: base.$color_m-dynamic-100;
}

.topnav__aod {
  .topnav__logo {
    font-size: 24px;
    font-weight: bold;
    color: base.$color_m-dynamic-30;
  }
}


// The SCSS for topnav on mobile devices
@media screen and (max-width: 1024px) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }

  .topnav__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .topnav__aod {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .topnav__menu-container {
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    border-top: 0px solid base.$color_m-dynamic-50;
    transition: all 1400ms ease;
    gap: 8px;

    .button {
      min-height: 48px;
      width: 100%;
      display: flex;
      border-radius: 16px;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .topnav__menu-container.topnav__menu-container--open {
    border-top: 2px solid base.$color_m-dynamic-50;
    height: 100vh;
    padding: 16px 0;
    opacity: 1;
  }
}



// The SCSS for topnav on bigger devices 
@media screen and (min-width: 1024px) {
  .topnav {
    overflow: hidden;
  }

  .topnav__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  .topnav__aod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .topnav__toggle-container {
      display: none;
    }
  }

  .topnav__menu-container {
    display: flex;
    gap: base.$spacing-less-2;
    flex-direction: row;
    align-items: center;
  }
}


// The SCSS for the toggle button.
.topnav__toggle-container {
  .topnav__toggle-button>.toggle-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    .toggle__bar {
      position: absolute;
      width: 24px;
      height: 3px;
      background-color: base.$color_m-dynamic-35;
      border-radius: 8px;
      transition: transform 300ms ease;

      &:first-child {
        top: 6px;
      }

      &:last-child {
        bottom: 6px;
      }
    }
  }

  .topnav__toggle-button>.toggle-icon--clicked {

    .toggle__bar {

      &:first-child {
        top: calc(50% - 1.5px);
        transform: rotate(45deg);
      }

      &:last-child {
        bottom: calc(50% - 1.5px);
        transform: rotate(-45deg);
      }
    }
  }
}

// Bottom Navigation bar SCSS. No appearance on Bigger Screens.
.bottomnav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: auto;
  min-height: 96px;
  box-shadow: 0 -2px 4px base.$color_m-dynamic-85;
  background-color: base.$color_m-dynamic-100;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .buttomnav__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: flex-start;
    }
  }
}
