// Clock styles
.clock {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.clock__time {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.clock__date {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}