<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chips Design</title>
	<link rel="stylesheet" href="../style/main.css">
</head>

<body>


	<section class="section">
		<div class="container content-contianer">
			<h1 class="section__title">Chip Container</h1>
			<p class="section__description">This page contains the designs and the instructions on how to use the chips.</p>
		</div>
		<div class="container chip-container">
			
			<a href="#" class="chip chip--active">
				<div class="chip__label">Active Chip</div>
			</a>
			
			<a href="#" class="chip">
				<div class="chip__label">Default Chip</div>
			</a>

			<a href="#" class="chip chip--disabled">
				<div class="chip__label">Disabled Chip</div>
			</a>

		</div>
	</section>

</body>

</html>